<div class="row g-3">
  <div class="col-12">
    <label for="contrasena_actual" class="form-label">Contraseña actual <span class="text-danger">*</span></label>
    <input
      type="password"
      class="form-control"
      id="contrasena_actual"
      name="contrasena_actual"
      required
      autocomplete="current-password"
    >
  </div>
  <div class="col-12">
    <label for="contrasena_nueva" class="form-label">Nueva contraseña <span class="text-danger">*</span></label>
    <input
      type="password"
      class="form-control"
      id="contrasena_nueva"
      name="contrasena_nueva"
      required
      minlength="12"
      autocomplete="new-password"
    >
    <div class="form-text">Mínimo 12 caracteres, con mayúscula, minúscula, número y símbolo.</div>
  </div>
  <div class="col-12">
    <label for="contrasena_confirmacion" class="form-label">Confirmar nueva contraseña <span class="text-danger">*</span></label>
    <input
      type="password"
      class="form-control"
      id="contrasena_confirmacion"
      name="contrasena_confirmacion"
      required
      minlength="12"
      autocomplete="new-password"
    >
  </div>
</div>
