<footer class="site-footer site-footer--simple">
  <div class="container">
    <%- include('./public-brand', {
      brandLinkClass: 'site-footer__logo site-footer__logo--simple',
      brandImgClass: 'site-footer__logo-img',
      brandTextClass: 'site-footer__brand-name site-footer__brand-name--simple',
      brandImgWidth: 140,
      brandImgHeight: 140,
      brandImgLoading: 'lazy',
    }) %>
    <p>&copy; <%= new Date().getFullYear() %> <%= appName %>. Todos los derechos reservados.</p>
  </div>
</footer>
