<header class="site-header">
  <div class="container">
    <a href="<%= routes.HOME %>" class="site-header__logo"><%= appName %></a>
    <nav class="site-header__nav">
      <a href="<%= routes.HOME %>">Inicio</a>
      <a href="<%= routes.MENU %>">Menú</a>
    </nav>
  </div>
</header>
